---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="relative flex flex-col gap-2">
    <div class="flex flex-col gap-1">
        <span class="text-sm text-zinc-400">{t("footer.newsletter")}</span>
        <span class="text-sm text-zinc-400">{t("footer.newsletter2")}</span>
    </div>
    <form class="relative flex flex-col gap-2">
        <input
            type="email"
            name="email"
            placeholder={t("footer.yourmail")}
            class="w-full rounded-lg bg-zinc-900 px-4 py-2 text-sm text-white placeholder:text-zinc-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
        />
        <button
            type="submit"
            class="rounded-lg bg-blue-500 px-4 py-2 text-sm font-semibold text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
            S'inscrire
        </button>
    </form>
</div> 